@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* font-family: 'Poppins', sans-serif; */
/* All variations (no italic) */

:root {
   --cor01: #3FF5D7;
   --cor02: #39DBC0;
   --cor03: #2FB59F;
   --cor04: #1E7567;
   --cor05: #0E362F;
   --cor-Degadê: #0a493e;
   --cor-Input: #053b32;

   --font-padrao: 'Poppins', Arial, sans-serif;
}
* {
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
}

body {
   width: 100%;
   min-height: 100vh;
   background: linear-gradient(45deg, var(--cor01), var(--cor-Degadê) 100%);
   display: flex;
   justify-content: center;
   align-items: center;
   font-family: var(--font-padrao);
}

main {
   min-width: 580px;
   width: 50%;
   height: auto;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 20px;
   overflow: hidden;
}
/* 1° Section */
section:not(.go-to-login) {
   border-radius: 20px;
   width: 60%;
   height: 100%;
   /* background-color: var(--cor04); */
   background-color: white;
   color: var(--cor05);
   padding: 25px;
}
section:not(.go-to-login) h1 {
   font-size: 2.15rem;
   color: var(--cor03);
   font-weight: 600;
   margin-bottom: 10px;
   text-align: center;
}
section:not(.go-to-login) form {
   width: 100%;
   /* height: 70%; */
}
section:not(.go-to-login) aside.inputs {
   width: 85%;
   margin: auto;
   margin-bottom: 15px;
}
section:not(.go-to-login) aside.inputs .grouper-inputs {
   border: 1px solid var(--cor05);
   border-radius: 10px;
}
section:not(.go-to-login) aside.inputs .grouper-inputs input {
   width: 90%;
   border: none;
   border-radius: 10px;
   padding: 10px;
   background-color: transparent;
   outline: none;
   border: none;
}
section:not(.go-to-login) aside.inputs .grouper-inputs input::placeholder {
   color: var(--cor-Input);
}
section:not(.go-to-login) aside.inputs .grouper-inputs i {
   display: none;
}
section:not(.go-to-login) aside.inputs label {
   font-size: 1.05rem;
   margin-bottom: 10px;
}
section:not(.go-to-login) aside.inputs span {
   font-size: 0.75rem;
}
section:not(.go-to-login) button {
   width: 60%;
   display: block;
   margin: 20px auto 0px auto;
   padding: 10px;
   border: none;
   border-radius: 10px;
   font-family: var(--font-padrao);
   font-weight: 500;
   background-color: var(--cor04);
   color: white;
   cursor: pointer;
   transition: .3s;
}
section:not(.go-to-login) button:hover {
   transition: 0.4s;
   background-color: var(--cor03);
}
section:not(.go-to-login) button#faça-login {
   display: none;
}

section.go-to-login {
   width: 40%;
   height: 100%;
   min-height: 444px;
   background-color: var(--cor05);
   color: white;
   padding: 10px;
   text-align: center;
   display: flex;
   justify-content: center;
   align-items: center;
   border-top-right-radius: 20px;
   border-bottom-right-radius: 20px;
}
section.go-to-login h2 {
   font-family: var(--font-padrao);
   font-size: 1.5rem;
   font-weight: 500;
}
section.go-to-login h2 a {
   color: var(--cor03);
   text-decoration: underline;
}



/* error e succes */
aside.error span {
   color: #ff6363;
}
section:not(.go-to-login) aside.error .grouper-inputs {
   border: 2px solid #ff8f8f;
}
section:not(.go-to-login) aside.error .grouper-inputs i.fa-circle-exclamation {
   display: inline;
   color: #ff4f4f;
}

aside.success span {
   display: none;
}
section:not(.go-to-login) aside.success .grouper-inputs {
   border: 2px solid #5cbf8f;
}
section:not(.go-to-login) aside.success .grouper-inputs i.fa-circle-check {
   display: inline;
   color: #44af7b;
}


/* Media queries */
@media (max-width: 700px) {
   main {
      min-width: 300px;
      flex-direction: column;
      gap: 10px;
   }
   section:not(.go-to-login) {
      width: 100%;
      border-radius: 20px;
   }
   section:not(.go-to-login) h1 {
      font-size: 1.9em;
      line-height: 1.2em;
   }
   section:not(.go-to-login) aside.inputs label {
      font-size: 1em;
   }
   aside.buttons {
      display: flex;
      justify-content: center;
      align-items: center;
   }
   section:not(.go-to-login) button {
      padding: 10px;
      width: 45%;
      display: inline-block;
      margin-left: 5px;
      margin-right: 5px;
   }
   section:not(.go-to-login) button#faça-login {
      width: 40%;
      display: inline-block;
      background-color: transparent;
      color: var(--cor05);
      border: 2px solid var(--cor03);
   }
   section:not(.go-to-login) button#faça-login:hover {
      background-color: rgb(179, 255, 217);
   }
   section:not(.go-to-login) button#faça-login a {
      text-decoration: none;
      color: var(--cor05);
   }
   
   section.go-to-login {
      display: none;
   }

}